# Temporary files
*~
*#

# Python library files
*__pycache__*
*.pyc

# Atmosphere profile files
*src/atmFiles/*
*hdf5

# All logging files
*log/*.txt

# Ignore all experiment directories
*Experiments/*
!*Experiments/importExperiment.py

# OSX style files
*.DS_Store

# Ignore VS code files
.vscode/settings.json
.vscode/launch.json

# Ignore everything in the config directory except sim config files
config/*.txt
!config/simInputs.txt
!config/paramsToVary.txt

# Ignore everything in the custVary file, except the examples
config/customVary/*.txt
!config/customVary/Tel_Cam_2_DetEff.txt
!config/customVary/Tel_Cam_2_Psat.txt

# Ignore all analysis files except for the tutorial
analyze/*
!analyze/unpack_tutorial.ipynb
analyze/.ipynb_checkpoints/*
