#Temporary files
*~
*#
#Python library files
*.pyc

#Atmosphere profile text files
*src/atmFiles/*/TXT/

#Latex temporary files
*MANUAL/*
!*MANUAL/
!*MANUAL/BoloCalc_UserManual.pdf

#All output files
*sensitivity.txt
*opticalPower.txt
*mappingSpeedVary*.txt

#All logging files
*log/*.txt

#Auxiliary scripts
*overplotATM.py
*plotATM.py

#Ignore non-example directories
#*Experiments/*
!*Experiments/ExampleExperiment/
!*Experiments/ExampleExperiment/*

#Take anything intended to be offline offline
*OFFLINE/
*OFFLINE/*

#OSX style files
*.DS_Store
